[flake8]
ignore = E203, E266, E501, W503  # Customize based on your team's preference
max-line-length = 88  # Adjust if you need longer lines
exclude = .git, __pycache__, node_modules, env, backend/tests
